.entity.bean-ombugallery {
  position: relative;
}
.ombugallery-slideshow {
  position: relative;
  margin-bottom: 50px;
}
.ombugallery-slideshow,
.ombugallery-slideshow *,
.ombugallery-slideshow *:before,
.ombugallery-slideshow *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ombugallery-slideshow .field-name-field-caption {
  display: none;
}
.ombugallery-slideshow .slides,
.ombugallery-slideshow .prevnext,
.ombugallery-slideshow .pager {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ombugallery-slideshow .slides > li,
.ombugallery-slideshow .prevnext > li,
.ombugallery-slideshow .pager > li {
  margin: 0;
  padding: 0;
}
.ombugallery-slideshow .slides {
  background-color: #282828;
}
.ombugallery-slideshow .slides > li {
  width: 100%;
}
.ombugallery-slideshow .slides > li img {
  width: 100%;
}
.ombugallery-slideshow .slides > li iframe {
  display: block;
  width: 100%;
}
.ombugallery-slideshow .slides > li small {
  display: none;
}
.ombugallery-slideshow .slides > li.first {
  display: block;
}
.ombugallery-slideshow .slides .group_secondary {
  width: 100%;
  color: white;
  padding: 1.0em;
}
.ombugallery-slideshow .pager {
  width: 100%;
  text-align: center;
  padding: 0 40px;
  background-color: #3c3c3c;
}
.ombugallery-slideshow .pager,
.ombugallery-slideshow .prevnext {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
}
.ombugallery-slideshow .pager > li,
.ombugallery-slideshow .prevnext > li {
  display: inline-block;
}
.ombugallery-slideshow .pager > li.prev,
.ombugallery-slideshow .prevnext > li.prev,
.ombugallery-slideshow .pager > li.next,
.ombugallery-slideshow .prevnext > li.next {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ombugallery-slideshow .pager > li.prev a,
.ombugallery-slideshow .prevnext > li.prev a,
.ombugallery-slideshow .pager > li.next a,
.ombugallery-slideshow .prevnext > li.next a {
  font-size: 26px;
  line-height: 36px;
}
.ombugallery-slideshow .pager > li.next,
.ombugallery-slideshow .prevnext > li.next {
  left: auto;
  right: 0;
}
.ombugallery-slideshow .pager > li a,
.ombugallery-slideshow .prevnext > li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #999;
}
.ombugallery-slideshow .pager > li a:hover,
.ombugallery-slideshow .prevnext > li a:hover,
.ombugallery-slideshow .pager > li a:focus,
.ombugallery-slideshow .prevnext > li a:focus {
  text-decoration: none;
  color: white;
}
.ombugallery-slideshow .pager > li.cycle-pager-active a,
.ombugallery-slideshow .prevnext > li.cycle-pager-active a,
.ombugallery-slideshow .pager > li.cycle-pager-active a:hover,
.ombugallery-slideshow .prevnext > li.cycle-pager-active a:hover {
  cursor: default;
  color: yellow;
}
.ombugallery-slideshow[data-slide-count="0"] .pager,
.ombugallery-slideshow[data-slide-count="1"] .pager,
.ombugallery-slideshow[data-slide-count="0"] .prevnext,
.ombugallery-slideshow[data-slide-count="1"] .prevnext {
  display: none !important;
}
